<div class="qam-account-items clearfix" style="display: block;">
	<form action="./login?to=" method="post">
		<input type="text" name="emailhandle" dir="auto" placeholder="Email or Username">
		<input type="password" name="password" dir="auto" placeholder="Password">
		<div><input type="checkbox" name="remember" id="qam-rememberme" value="1">
			<label for="qam-rememberme">Remember</label></div>
			<input type="hidden" name="code" value="">
			<input type="submit" value="Login" class="qa-form-tall-button qa-form-tall-button-login" name="dologin">
	</form>
	<br>
	<div class="qa-nav-user">
		<ul class="qa-nav-user-list">
			<li class="qa-nav-user-item qa-nav-user-register">
				<a href="./register?to=" class="qa-nav-user-link">Register</a>
			</li>
		</ul>
		<div class="qa-nav-user-clear">
		</div>
	</div>
</div>