<div class="qa-part-form-activity">
  <h2><span id="activity">Activity by <%= @user.username %></span></h2>
  <table class="qa-form-wide-table">
    <tbody>
      <tr id="questions">
        <td class="qa-form-wide-label">
          Questions:
        </td>
        <td class="qa-form-wide-data">
          <span class="qa-form-wide-static"><span class="qa-uf-user-q-posts">0</span></span>
        </td>
      </tr>
      <tr id="answers">
        <td class="qa-form-wide-label">
          Answers:
        </td>
        <td class="qa-form-wide-data">
          <span class="qa-form-wide-static"><span class="qa-uf-user-a-posts">0</span></span>
        </td>
      </tr>
      <tr id="comments">
        <td class="qa-form-wide-label">
          Comments:
        </td>
        <td class="qa-form-wide-data">
          <span class="qa-form-wide-static"><span class="qa-uf-user-c-posts">0</span></span>
        </td>
      </tr>
      <tr id="votedon">
        <td class="qa-form-wide-label">
          Voted on:
        </td>
        <td class="qa-form-wide-data">
          <span class="qa-form-wide-static"><span class="qa-uf-user-q-votes">2</span> questions, <span class="qa-uf-user-a-votes">0</span> answers</span>
        </td>
      </tr>
      <tr id="votegave">
        <td class="qa-form-wide-label">
          Gave out:
        </td>
        <td class="qa-form-wide-data">
          <span class="qa-form-wide-static"><span class="qa-uf-user-upvotes">2</span> up votes, <span class="qa-uf-user-downvotes">0</span> down votes</span>
        </td>
      </tr>
      <tr id="votegot">
        <td class="qa-form-wide-label">
          Received:
        </td>
        <td class="qa-form-wide-data">
          <span class="qa-form-wide-static"><span class="qa-uf-user-upvoteds">0</span> up votes, <span class="qa-uf-user-downvoteds">0</span> down votes</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
