<div class="qa-body-wrapper">
  <div class="qa-main-wrapper">
    <div class="qa-main">
      <%= render "form_left"%>
    </div>
    <div class="qa-main">
      <%= render "change_password"%>
    </div>
  </div>
</div>
