<div class="qa-body-wrapper">
  <div class="qa-main-wrapper">
      <%= render "form_left"%>
      <%= link_to "Edit pfofile", edit_user_path(current_user), class: "btn btn-success btn-lg btn-block" %>
      <%= render "form_right"%>
  </div>
</div>
