<div class="qa-part-a-list">
  <h2 id="a_list_title"><span itemprop="answerCount">1</span> Answer</h2>
  <div class="qa-a-list" id="a_list">
    <div class="qa-a-list-item " id="a75422" itemprop="suggestedAnswer" itemscope="" itemtype="https://schema.org/Answer">
      <form method="post" action="../75352/after-upgrading-from-best-answers-shows-closed-with-lock-icon">
        <div class="qa-voting qa-voting-net" id="voting_75422">
          <div class="qa-vote-buttons qa-vote-buttons-net">
            <input title="Click to vote up" name="vote_75422_1_a75422" type="submit" value="+" class="qa-vote-first-button qa-vote-up-button"> 
            <input title="Click to vote down" name="vote_75422_-1_a75422" type="submit" value="–" class="qa-vote-second-button qa-vote-down-button"> 
          </div>
          <div class="qa-vote-count qa-vote-count-net">
            <span class="qa-netvote-count">
              <span class="qa-netvote-count-data">+3</span><span class="qa-netvote-count-pad"> votes <meta itemprop="upvoteCount" content="3"></span>
            </span>
          </div>
          <div class="qa-vote-clear">
          </div>
        </div>
        <input name="code" type="hidden" value="0-1559274569-67fce767d8ac41e82f1c26b390d6704a5867d45b">
      </form>
      <div class="qa-a-item-main">
        <form method="post" action="../75352/after-upgrading-from-best-answers-shows-closed-with-lock-icon">
          <span class="qa-a-item-avatar-meta">
            <span class="qa-a-item-avatar">
              <a href="../user/pupi1985" class="qa-avatar-link"><img src="https://www.gravatar.com/avatar/080d24e21f0b0e02a1a9805122473755?s=40" width="40" height="40" class="qa-avatar-image" alt=""></a>
            </span>
            <span class="qa-a-item-meta">
              <a href="../75352/after-upgrading-from-best-answers-shows-closed-with-lock-icon?show=75422#a75422" class="qa-a-item-what" itemprop="url">answered</a>
              <span class="qa-a-item-when">
                <span class="qa-a-item-when-data"><time itemprop="dateCreated" datetime="2019-05-29T05:12:52+0000" title="2019-05-29T05:12:52+0000">1 day</time></span><span class="qa-a-item-when-pad"> ago</span>
              </span>
              <span class="qa-a-item-who">
                <span class="qa-a-item-who-pad">by </span>
                <span class="qa-a-item-who-data"><span itemprop="author" itemscope="" itemtype="https://schema.org/Person"><a href="../user/pupi1985" class="qa-user-link" itemprop="url"><span itemprop="name">pupi1985</span></a></span></span>
              </span>
            </span>
          </span>
          <div class="qa-a-selection">
          </div>
          <div class="qa-a-item-content qa-post-content">
            <a name="75422"></a><div itemprop="text">

              <p>Yes, that is correct, actually. Not showing them as closed was actually a bug.</p>

              <p>Just navigate to&nbsp;admin/posting and uncheck the setting&nbsp;<em>Close questions with a selected answer</em>.</p></div>
            </div>
            <div class="qa-a-item-buttons">
              <input name="a75422_dofollow" value="ask related question" title="Ask a new question relating to this answer" type="submit" class="qa-form-light-button qa-form-light-button-follow">
              <input name="a75422_docomment" onclick="return qa_toggle_element('c75422')" value="comment" title="Add a comment on this answer" type="submit" class="qa-form-light-button qa-form-light-button-comment">
            </div>
            <input name="code" type="hidden" value="0-1559274569-346af27d3c41415ce93d78a295a8bf475418da6c">
            <input name="qa_click" type="hidden" value="">
          </form>
          <div class="qa-a-item-c-list" style="display:none;" id="c75422_list">
          </div> <!-- END qa-c-list -->
          <div class="qa-c-form" id="c75422" style="display: none;">
            <h2>Please <a href="../login?to=75352%2Fafter-upgrading-from-best-answers-shows-closed-with-lock-icon">log in</a> or <a href="../register?to=75352%2Fafter-upgrading-from-best-answers-shows-closed-with-lock-icon">register</a> to add a comment.</h2>
          </div> <!-- END qa-c-form -->
        </div> <!-- END qa-a-item-main -->
        <div class="qa-a-item-clear">
        </div>
      </div> <!-- END qa-a-list-item -->
    </div> <!-- END qa-a-list -->
  </div>