<footer class="qam-footer-box">
    <div class="qam-footer-row">
    </div> <!-- END qam-footer-row -->
    <div class="qa-footer">
        <div class="qa-nav-footer">
            <ul class="qa-nav-footer-list">
                <li class="qa-nav-footer-item qa-nav-footer-custom-4">
                    <a href="https://www.question2answer.org/feedback.php" class="qa-nav-footer-link">Send feedback</a>
                </li>
                <li class="qa-nav-footer-item qa-nav-footer-custom-3">
                    <a href="http://demo.question2answer.org/" class="qa-nav-footer-link">Demo sandbox</a>
                </li>
                <li class="qa-nav-footer-item qa-nav-footer-custom-5">
                    <a href="http://wiki.question2answer.org/" class="qa-nav-footer-link">Q2A Wiki</a>
                </li>
            </ul>
            <div class="qa-nav-footer-clear">
            </div>
        </div>
        <div class="qa-attribution">
            Snow Theme by <a href="http://www.q2amarket.com">Q2A Market</a>
        </div>
        <div class="qa-attribution">
            Powered by <a href="http://www.question2answer.org/">Question2Answer</a>
        </div>
        <div class="qa-footer-clear">
        </div>
    </div> <!-- END qa-footer -->
</footer>